<a href="https://colab.research.google.com/github/manikanta-eng/DATA-MINING/blob/main/lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/titanic lab 4.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le=LabelEncoder()

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df['Gender']=le.fit_transform(df['Sex'])

In [8]:
df['Gender']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Gender, Length: 891, dtype: int64

In [9]:
one_hot_encoded = pd.get_dummies(df['Sex'], prefix='Sex')

In [10]:
one_hot_encoded=one_hot_encoded.astype(int)

In [11]:
one_hot_encoded

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
886           0         1
887           1         0
888           1         0
889           0         1
890           0         1

[891 rows x 2 columns]

In [14]:
emp=pd.read_csv('/content/EMP_SAL.csv')

In [15]:
emp

           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [17]:
emp['Salary']=emp['BASIC_PAY']+emp['HRA']+emp['DA']-emp['TAX']

In [18]:
from datetime import datetime

In [19]:
emp['DOB']=pd.to_datetime(emp['DOB'],format='%d-%m-%Y')

In [20]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DOB        14 non-null     datetime64[ns]
 1   BASIC_PAY  14 non-null     int64
 2   HRA        14 non-null     int64
 3   DA         14 non-null     int64
 4   TAX        14 non-null     int64
 5   Salary     14 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 804.0 bytes

In [21]:
today = pd.Timestamp.now()

In [22]:
today

Timestamp('2025-01-29 05:19:23.588352')

In [ ]:
emp['Age'] = today.year - emp['DOB'].dt.year - ((today.month, today.day) < (emp['DOB'].dt.month, emp['DOB'].dt.day))

In [26]:
emp['Salary']=emp['BASIC_PAY']+emp['HRA']+emp['DA']-emp['TAX']

In [27]:
emp['Salary']

0      88200
1      93300
2      98400
3     103500
4     108600
5     113700
6     118800
7     123900
8     129000
9     134100
10    139200
11    144300
12    149400
13    154500
Name: Salary, dtype: int64

In [28]:
data = {
    "Department": ["HR", "Finance", "HR", "IT", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"],
    "Salary": [50000, 60000, 55000, 70000, 65000, 72000],
    "Experience": [2, 5, 3, 8, 6, 7],
}

In [29]:
df = pd.DataFrame(data)

In [30]:
df

  Department Employee  Salary  Experience
0         HR    Alice   50000           2
1    Finance      Bob   60000           5
2         HR  Charlie   55000           3
3         IT    David   70000           8
4    Finance      Eve   65000           6
5         IT    Frank   72000           7

In [31]:
df.groupby("Department")["Salary"].sum()

Department
Finance    125000
HR         105000
IT         142000
Name: Salary, dtype: int64

In [32]:
print(df.groupby("Department")["Salary"].mean())

Department
Finance    62500.0
HR         52500.0
IT         71000.0
Name: Salary, dtype: float64

In [33]:
df.groupby("Department")["Salary"].median()

Department
Finance    62500.0
HR         52500.0
IT         71000.0
Name: Salary, dtype: float64

In [34]:
df.groupby("Department")["Salary"].min()

Department
Finance    60000
HR         50000
IT         70000
Name: Salary, dtype: int64

In [35]:
df.groupby("Department")["Salary"].max()

Department
Finance    65000
HR         55000
IT         72000
Name: Salary, dtype: int64

In [36]:
df.groupby("Department")["Salary"].count()

Department
Finance    2
HR         2
IT         2
Name: Salary, dtype: int64

In [37]:
df.groupby("Department")["Salary"].std()

Department
Finance    3535.533906
HR         3535.533906
IT         1414.213562
Name: Salary, dtype: float64

In [38]:
df.groupby("Department")["Salary"].var()

Department
Finance    12500000.0
HR         12500000.0
IT          2000000.0
Name: Salary, dtype: float64